/* src/components/Login.css
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
   */




   .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1200px;
    /* background-color: #f5f5f5; */
  }
  
  .login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:100px;
    width: 100%;
    text-align: center;
    margin-left: 300px;
  }
  
  .login-box h1 {
    margin-bottom: 20px;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box form label {
    margin-top: 10px;
    text-align: left;
  }
  
  .login-box form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-box form .password-options {
    text-align: right;
  }
  
  .login-box form .password-options a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-box form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .login-box form button:hover {
    background-color: #0056b3;
  }
  
  .login-box form p {
    margin-top: 10px;
  }
  
  .login-box form p a {
    color: #007bff;
    text-decoration: none;
  }
  
  .image-container {
    margin-left: 0px;
    /* display: flex; */
    float: left;
    padding-left: 40px;
  }
  
  .image-container img {
    /* max-width: 300px; */
    border-radius: 10px;
  }