/* src/components/Navbar.css */
.navbar {
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 0.5rem 1rem;
  }
  
  .navbar-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 1rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    color: #ddd;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      flex-direction: column;
      display: none;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .hamburger {
      display: block;
    }
  }
  